:root {
    --background-color: #FFFFFF;
    --text-color: #434455;
    --brand-color: #2E2F42;
    --logo-color: #4d5ae5;
    --background-color-potfolio: #F4F4FD;
}

*,
*::before,
*::after {box-sizing: border-box;}
img {
    display: block;
}
body {color: #434455;
background-color: var(--background-color);
}

.body-studio {font-family: 'Roboto', sans-serif;
}


/*antet*/

.header {
border-bottom: 1px solid #E7E9FC;

}

.header-div {display: flex;}

.container: {width: 1158px;
margin: 0 auto;
padding: 0 15px;}

.nav-bar {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    
}

.nav-list {display: flex;
gap: 40px;}

.address-list {display: flex;
gap: 40px;}

.logo {font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    margin-right: 76px;
}

.link {text-decoration: none;
}
.logo-span-dark {color: var(--brand-color);
}

.list {list-style: none;
}

.nav-link {font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--brand-color);
padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {color: #404bbf;
}

.address {
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: 16px;
    line-height: 24px;
    font-style: normal;

}

.link-contacts {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.link-contacts:hover,
.link-contacts:focus {color: #404bbf;}





/* studio page styles */

.section { padding: 94px 0px;}

.hero-section {
    background-color: var(--brand-color);
    padding: 188px 0;
    }

.div-sect-2 {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.hero-titile {font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
max-width: 496px;}


.order-button {background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
min-width: 169px;
height: 56px;
padding: 16px 32px;
border: none;
border-radius: 4px;
}

.order-button:hover,
.order-button:focus {background-color: #404bbf;
}

/* a doua sectiune */

.flex-list {display: flex;
gap: 24px;
justify-content: center;
}
.second-section-title {display: none;}

.second-and-fourth-section-mini-titles {color: var(--brand-color);
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.second-and-fourth-section-paragraph {color: var(--text-color);
    background-color: #FFFFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* sectiunea a treia */

.third-section {background-color: var(--background-color);}

.photo-sect-3 {flex-basis: calc((100%-3*24)/3);}


.third-and-fourth-section-title {color: var(--brand-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


/* seciunea a patra */

.fourth-section {background-color: #F4F4FD;}

.another-try {background-color: #ffffff;
flex-basis: calc((100%-4*24)/4);}




/* footer*/


.footer-section {background-color: var(--brand-color);
}

.logo-span-white {color: #F4F4FD;
}

.footer-paragraph {color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
letter-spacing: 0.02em;}



/* portfolio page */

.portfolio-invisible {display: none;}

.body-portfolio {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}


.portfolio-button {
    color: var(--logo-color);
    background-color: var(--background-color-potfolio);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 12px 24px;

}

.portfolio-button:hover,
.portfolio-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.portfolio-title {
    color: var(--brand-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    border-left: px solid #E7E9FC;
    border-right: px solid #E7E9FC;
    text-align:left
    margin-bottom: 8px;
}



.portfolio-paragraph {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    border-left: px solid #E7E9FC;
        border-right: px solid #E7E9FC;
        text-align: left;
    
}

.buttons-list {display: flex;
justify-content: center;
gap:24px; }

.flex-portfolio {display: flex;
flex-wrap: wrap;
align-content: center;
gap: 24px;
margin-left: -24px;
    margin-top: -48px;
}

.portfolio-grid {flex-basis: calc((100%-9*24)/9);
margin-left: 24px;
margin-top: 48px;
border-bottom: 1px solid #E7E9FC;}